body {
    font-family: 'Roboto';
    user-select: none;
    background-color: #000
}
button{
    font-family: 'Roboto';
    font-size: 15px;
}
li{
    position: relative;
   overflow: hidden;
}

/*
---------------------Header-------------------
*/
#header {
    z-index: 100;
    height: 60px;
    position: fixed;
    /* background-color: #2962ff; */
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: row;
    padding: 0px 10px 0px 5px;
    justify-content: space-between;
    align-items: center;
    transition:top ease 0.5s;
}


.content-con{
    align-items: flex-start;
    /* justify-content: space-around; */
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/*
---------------------Modal-------------------
*/
.modal{
    z-index: 1000;
    position: fixed;
    background-color: #fff;
    padding:20px;
    top:35%;
    left:35%;
    right:35%;
    bottom: 35%;
    border-radius: 5px;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.8)
}
.modal div:nth-child(2){
    position: absolute;
    bottom:10%;
    right:5%;
    align-items: flex-end;
    justify-content:flex-end;
}
.modal div:first-child{
    position: absolute;
    top:5%;
    left:5%;
}
.modal-title{
    font-size: 140%;
}
.modal-sub{
    color:rgba(0, 0, 0, 0.8)
}
#maskDiv {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0);
    z-index: 900;
    transition: background-color 0.2s ease;
    visibility: hidden;
}

/*
---------------------Colors-------------------
*/
.primary-text{
    color: #2962ff;
}
.red-text{
    color: #DE3E35;
}
.m-primary{
    background-color: #2962ff;
    color:#fff;

}
.m-yellow{
    background-color: #F7C223;
    color:#222;
}
.m-yellow *{
    color:#222;
}
.m-red{
    background-color: #DE3E35;
    color:#fff;
}
.m-green{
    background-color: #1B9A59;
    color:#fff;
}
.m-dark{
    background-color: #222;
    color:#fff;
}
.m-dark *{
    color:#fff;
}
.m-light{
    background-color: #fff;
    color:#222;
}
.m-light *{
    color:#222;
}
.m-light #ind {
    color:#222;
    border-color: #222
}

/*
---------------------Material Buttons-------------------
*/
.material-btn {
    display: inline-flex;
    /* flex-direction: row; */
    cursor: pointer;
    border-radius: 2px;
    border: none;
    /* bacground-color: #2962ff; */
    box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
    /* color: white; */
    overflow: hidden;
    transition: all 1s ease;
    padding: 5px 10px ;
    position: relative;
    align-items: center;
    /* font-weight: bold; */
}
.material-btn:disabled{
    background-color: #eee;
    box-shadow: none;
    color:#aaa;
    cursor: default;
}
.trans-material-btn {
    display: inline-flex;
    position: relative;
    border-radius: 5px;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
    overflow: hidden;
    outline: none;
    align-items: center;
}


.floating-btn {
    cursor: pointer;
    border-radius: 50px;
    border: none;
    background-color: blueviolet;
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.5);
    color: white;
    overflow: hidden;
    transition: all 1s ease;
    padding: 20px;
}

.cir {
    position: absolute;
    background-color: cyan;
    border-radius: 50px;
    padding: 5px;
    overflow: hidden;
    opacity: 1;
}

/*
---------------------Indicators-------------------
*/
#ind {
    height: 0px;
    border: 1px solid white;
    border-radius: 10px;
    margin: 2px;
}
#ind:nth-child(1){
    width: 20px;
}
#ind:nth-child(2){
    width: 15px;
}
#ind:nth-child(3){
    width: 10px;
}

/*
---------------------Icon-------------------
*/
#icon {
    display: flex;
    border-radius: 30px;
    justify-content: center;
    flex-direction: column;
    height: 20px;
    padding: 15px;
    width: 20px;
    cursor: pointer;
    transition: left 0.5s ease, background-color 0.4s ease;
    /* box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2); */
    overflow: hidden;
    align-items: flex-start;
    position: relative;
    top: 10%;
}

#icon:hover {
    background-color: rgba(0, 0, 0, 0.1)
}

/*
---------------------Drawer-------------------
*/
.active {
    background-color: rgba(150,150,150,0.5);
    /* color:#212121; */
}
/* .active i{
    color:#212121
} */
.drawer-avatar{
    border-radius: 50%;
    margin-top: 20px;
    border: 4px solid #fff;
    /* box-shadow: 0px 2px 2px 2px rgba(0,0,0,0.5) */
}
.drawer-avatar-div{
    position: relative;
    top:0;
    left:0;
    padding-left: 20px;
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 20px    
}
.drawer-avatar-div div p:nth-child(1){
    padding: 0px;
    margin: 0px;
    }
    .drawer-avatar-div div p:nth-child(2){
        font-size: 10px;
        }
.drawer-mask{
    position: absolute;
    left: 0;
    right: 0;
    top:0;
    bottom: 0;
    background-color:rgba(0, 0, 0, 0.5) 
}
#drawer {
    position: fixed;
    top: 0;
    bottom: 0;
    left: -300;
    width: 300px;
    display: inline-block;
    visibility: hidden;
    box-shadow: 5px 0px 10px 0px rgba(0, 0, 0, 0.5);
    transition: left 0.3s ease;
    /* background-color: #212121; */
    z-index: 950;
    overflow-y: auto;
}
#drawer::-webkit-scrollbar{
    width:10px
}
#drawer::-webkit-scrollbar-thumb{
    background-color: #111;
    border-radius: 10px;    
}
#drawer li {
    position: relative;
    display: flex;
    list-style-type: none;
    padding: 8px 8px 8px 20px;
    text-align: start;
    transition: all 0.2s ease;
    /* font-weight: 600; */
    overflow: hidden;
    margin: 4px 0px;
    align-items: center;
    border-radius: 5px;
    /* color:#fff; */
    cursor: pointer;
}
#drawer li i{
    margin-right: 10px;
    /* color:#fff */
}

#drawer li:not(.active):hover {
    background-color: rgba(255,255,255, 0.1)
}

#drawer ul {
    padding: 10px 0px; 
    overflow: hidden;
    margin:0px 5px;
}

#content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    visibility: hidden;
}

/*
---------------------Card-------------------
*/
.card{
    /* overflow: hidden; */
    position: relative;
    border-radius: 3px;
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.4);
    padding:15px;
    background-color: #fff;
    min-width: 250px;
    /* min-height: 150px; */
    margin:10px;  
    transition: background-color ease 0.2s;
}
.card-ripple{
    overflow: hidden
}
.card .title{
    color: #222;
    font-size: 20px;
    margin: 0px;
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom:1px solid rgba(0,0,0,0.2);
}
.card .title-no-border{
    color: #222;
    font-size: 20px;
    margin: 0px 0px 0px 0px;
    padding-bottom: 5px;
}
.card .heading{
    padding-top: 10px;
    color: #888;
    font-size: 14px;
    margin: 5px 0px;
    flex-wrap: wrap;
    max-width: 250px;
    
}
.card-dark{
    background-color: #222;
}
.card-dark .title{
    color:#eee;
    border-bottom-color: #444
}
.card-dark *:not(.material-btn){
    color:#eee
}
/*
---------------------Ripple-------------------
*/
.ripple-con{
    position: absolute;
    left: 0;
    right: 0;
    top:0;
    bottom: 0;
    background-color:rgba(0,0, 0,0);
    transition: background-color ease 0.5s;
    opacity: 1;
    /* z-index:10000; */
}
.ripple-con:hover{
    background-color:rgba(0,0, 0,0.1);
}
.ripple-con:active{
    background-color:rgba(0,0, 0,0);
}

/*
---------------------Toast-------------------
*/
.toast {
    min-width: 250px;
    position: fixed;
    bottom: -50;
    align-self: center;
    border-radius: 5px;
    padding: 0px 15px 0px 15px;
    color: white;
    left: 40%;
    right:40%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
    opacity: 0;
    z-index: 500;
}

.toast p {
    font-size: 15px;
    color: #fff;
    flex-wrap: wrap;
    flex: 1;
}

.toast button {
    position: relative;
    border-radius: 2px;
    border: none;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0);
    color: yellow;
    cursor: pointer;
    overflow: hidden;
}

/*
---------------------Icon-------------------
*/
.icon{
    position: relative;
    border-radius: 100px;
    cursor: pointer;
    transition: background-color ease 0.2s;
   text-align: center
}

.icon-ripple{
    border-radius: 100px;
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom: 0;
}


/*
---------------------Options-------------------
*/
.option-container{
    position: relative;
    cursor: pointer;
    border-radius: 100px;   
}
.option {
    display: none;
    position: absolute;
    margin: 10px;
    box-shadow:0px 2px 5px 0px rgba(0,0,0,0.3);
    overflow: hidden;
    border-radius: 100px;
    top:0;
    right: 10;
    z-index: 120; 
    background-color: #fff; 
    opacity: 0;
    top:5;
}   

.option {
    padding: 0px 0px;
}

.option li {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color:#000;
    list-style-type: none;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}
.option li:hover{
    background-color: rgba(0, 0, 0, 0.01)
}

.spinner {
    animation: rotator 1.4s linear infinite;
}

     
/*
---------------------SnackBar-------------------
*/
.snackbar{
    position:fixed;
    bottom:-100;
    left:40%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    min-width: 250px;
    padding:5px 10px;
    display: flex;
    justify-content: space-between;
    background-color:#222;
    align-items: center;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5)
}
.snackbar p{
color:#fff;
padding:10px 5px;
margin:0px;
font-size: 15px;
}

/*
---------------------Material Icons-------------------
*/
.material-icons{
    border-radius: 20px;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.material-icons .md-light {
    color: rgba(255, 255, 255, 1);
    /* cursor: pointer; */
}
.material-icons .md-dark {
    color: rgba(0, 0, 0, 1);
    /* cursor: pointer; */
}

/*
---------------------Pages-------------------
*/
.pages{
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background-color: #555;
    display: flex;
    justify-content: baseline;
    align-items: center;
    opacity: 1;
    overflow: auto;
    flex-direction: column
}

/*
---------------------CheckBox-------------------
*/
.checkbox{
    display: flex;
    align-items: center
}
.checkbox{
cursor: pointer;
}
.checkbox input{
    display: none;
}
.checkbox .mark-container:hover{
    background-color:rgba(29,62,255,0.1);
}
.checkbox:hover .mark-container{
    background-color:rgba(29,62,255,0.1);
}
.checkbox ~ .checkbox-red  .checkmark{
    border-color: red;
}
.checkbox-red:hover .mark-container{
    background-color:rgba(255,0,0,0.1);
}
.checkbox ~ .checkbox-yellow  .checkmark{
    border-color: rgb(255,200,0);
}
.checkbox-yellow:hover .mark-container{
    background-color:rgba(255, 200, 0, 0.2);
}
.checkbox ~ .checkbox-yellow .check{
border-color: #000
}
.checkbox ~ .checkbox-primary  .checkmark{
    border-color: #2962ff;
}
.checkbox-primary:hover .mark-container{
    background-color:rgba(29,62,255,0.1);
}
.checkbox ~ .checkbox-info  .checkmark{
    border-color: #1B9A59;
}
.checkbox-info:hover .mark-container{
    background-color:rgba(26,145,84,0.1);
}
.checkbox .mark-container{
    position: relative;
    border-radius: 100px;
    padding: 10;
    /* margin-left: 5px; */
    transition: background-color ease 0.2s; 
    display: flex;
    align-items: center;
    justify-content: center
}   
.checkmark{
position: relative;
padding:7px;
border:2px solid #2962ff;
border-radius: 3px; 
background-color: #2962ff;
transition: background-color 0.4s ease;
display: flex;
align-items: center;
justify-content: center
/* overflow: hidden */
}
.checkmark .check{
    border-width: 0px 2px 2px 0px;
    padding:2px;
    top:1;
    position: absolute;
    border-color: #fff;
    border-style: solid;    
    z-index: 1;
    height:25%;
    border-radius: 1px;
    transform: rotate(45deg);
    /* background-color: #fff */
}

/*
---------------------Radio Buttons-------------------
*/
.radio{
    cursor: pointer;
    align-items: center;
    display: flex;
    flex-direction: row;
}
.radio input{
    display: none;
}
.radio .radio-circle{
    position: relative;
    margin-left: 10px;
    padding:6px;
    border: 2px solid #2962ff;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* overflow: hidden; */
}
.radio .radio-circle::after{
content:'';
padding:15px;
border-radius: 20px;
position: absolute;
transition: background-color ease 0.2s; 
}
.radio .radio-circle:hover::after{
    background-color: rgba(0,0,0,0.1);
}
.radio .radio-button{
    position: absolute;
    padding:4px;
    background-color: #2962ff;
    border-radius: 100px;
    overflow: hidden;
}

/*
---------------------Switch-------------------
*/
.switch{
    cursor: pointer;
    align-items: center;
    display: flex;
    flex-direction: row;
}
.switch input{
    display: none;
}
.switch .switch-track{
    position: relative;
    margin-left: 10px;
    width: 25px;
    padding:5px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 100px;
    display: flex;
    align-items: center;
    transition: background-color ease 0.3s;
}
.switch .switch-button{
    position: absolute;
    padding:10px;
    left:0;
    transition: left ease 0.1s;
    background-color: #2962ff;
    border-radius: 100px;
    box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;

}
.switch-button::after{
    content: '';
    position: absolute;
    padding:20px;
    border-radius: 100px;
    background-color: rgba(0, 0, 0, 0);
    transition: background-color ease 0.1s;
}
.switch-button:hover::after{
    background-color: rgba(0, 0, 0, 0.1);
}


/*
Accordians
*/
.collapsible{
    overflow: hidden;
    /* padding: 10px; */
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    border:2px solid rgba(150,150,150,0.1);
    transition: height ease 0.2s;
    /* height: 30px;    */
}
.collapsible .title{
    position: relative;
    overflow: hidden;
    margin: 0px;
    cursor: pointer;
    padding:25px 10px;
    flex:1;
    font-size: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /* text-align: center; */
    /* background-color: #1B9A59 */
}
.collapsible .content{
    padding:10px;
    /* font-size: 20px; */
}
/* .accordian .acc-title:hover{
background-color:rgba(255,255,255,0.1);
} */
/*
---------------------Loading-------------------
*/
@keyframes rotator {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(270deg);
    }
}


.path {
    stroke-dasharray: 187;
    stroke-dashoffset: 0;
    transform-origin: center;
    animation:
        dash 1.4s ease-in-out infinite,
        colors 4s ease-in-out infinite;
}

@keyframes colors {
    0% {
        stroke: #4285F4;
    }

    25% {
        stroke: #DE3E35;
    }

    50% {
        stroke: #F7C223;
    }

    75% {
        stroke: #1B9A59;
    }

    100% {
        stroke: #4285F4;
    }
}

@keyframes dash {
    0% {
        stroke-dashoffset: 187;
    }

    50% {
        stroke-dashoffset: 40;
        transform: rotate(135deg);
    }

    100% {
        stroke-dashoffset: 187;
        transform: rotate(450deg);
    }
}

/*
---------------------Responsive stuff-------------------
*/
@media only screen and (max-height:600px){
    .modal{
        top:35%;
        bottom: 35%;
    }
}
@media only screen and (min-height:700px){
    .modal{
        top:40%;
        bottom: 40%;
    }
}

@media only screen and (max-width:500px){
    #drawer {
        width: 200px;
    }
    
    #drawer li {
        padding: 5px 5px 5px 15px;
        }
    button,li{
        font-size: 12px;
    }
    
    .card .title{
        font-size: 15px;
       }
       .card .heading{
           font-size: 12px;
       }
    #header div span{
        font-size: 10px;
    }
    .toast{
        min-width: 160px;
        bottom:-20;
        padding: 0px 10px;  
        left:5%;
        right:5%;
    }
    .toast p{
        font-size: 13px;
    }
    .toast button{
        font-size: 13px;
    }
    .modal{
       
        padding:20px;
        /* top:40%; */
        left:10%;
        right:10%;
        /* bottom: 40%; */
    }

    .modal div:first-child{
        position: absolute;
        top:5%;
        left:5%;
    }
    .modal-title{
        font-size: 100%;
    }
    .modal-sub{
        font-size: 12px;
        color:rgba(0, 0, 0, 0.8)
    } 
    #header div p{
        font-size: 15px;
    }
 
    .snackbar{
        border-radius: 0px;
        left:0;
        right:0;
        box-shadow: none
       }
    #ind:nth-child(1){
        width: 15px;
    }
    #ind:nth-child(2){
        width: 10px;
    }
    #ind:nth-child(3){
        width: 5px;
    }
    .option-container i{
    font-size: 20px; 
    }
}

 /* @media only screen and (max-width: 600px) {}

 @media only screen and (min-width: 600px) {}
 
 @media only screen and (min-width: 768px) {}
 
 @media only screen and (min-width: 992px) {}
 
 @media only screen and (min-width: 1200px) {}  */

 /*
-------------------Utils------------------
*/
.mt-5{
    margin-top: 5px;
}
.mt-10{
    margin-top: 10px;
}
.mh-5{
    margin:0px 5px;
}
.mh-10{
    margin:0px 10px;
}
.ml{
    margin-left:10px;
}
.mr{
    margin-right: 10px;
}
.icons-x-small{
    font-size: 15px;
}
.icons-small{
font-size: 20px;
}
.icons-medium{
    font-size: 25px;
    }
.icons-large{
font-size: 30px;
}
.round{
    border-radius:100px;
}  
.p-5{
    padding:5px 10px
}
.p-10{
    padding:10px 15px
}
.d-flex-row{
    display: flex;
    flex-direction: row;
}
.d-flex-column{
    display: flex;
    flex-direction:column;
}
